.promo {
  padding: 30px 0;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo__content {
  padding-right: 65px;
}

.promo__buttons > * {
  margin-right: 44px;
}

.promo__title {
  margin: 0 0 30px;
}

.promo__text {
  max-width: 487px;
  @extend %font-add;
  @include font($size: 1.8rem, $weight: 400, $height: 2.8rem);
  margin: 0 0 45px;
}
